## IDE
.vscode/

## data
data/nltk/

## others
model/
logs/

## python
.ipynb_checkpoints/
hw2/stud/__pycache__/
hw2/stud/.ipynb_checkpoints/

## pre-trained embeddings
hw2/stud/.vector_cache/
.vector_cache/